.webix_toolbar {
    background-color: #39a0cf;
    color: #ffffff;
  }
.image_autorization {
    max-width:100%;
    max-height:100%;
    display: block;
    margin: 0 ;
}

.window_toolbar_progress {
    background-color: #569fcf;
    color: #ffffff;
    padding-top: 6px;
}

.template_login {
padding-top: 10px;
font-size: 15px;
color: #01a4d6;
}

.label_color {
color: #5d5d5d;
font-size: 18px;
padding-left: 10px;
}

.toolbar {
    background-color: #ffffff;
}

.hover_list {
    background-color: #fbe2ba;
}

.button_to_test {
    width: 100px;
    height: 30px;
    font-size: 18px;
    border-radius: 10%;
    background-color: #1bb3da;
    color: #ffffff;
}

.label_name_of_group .webix_el_box {
    font-size: 28px;
    color: #006efd;
    
}

.word_test {
    font-size: 48px;
}

/* .partOfSpeech_test {
    font-size: 28px;
}

.testPage {
    background-color: #f3f2f2;
}

.label_test {
    font-size: 28px;
} */
.color_button_test .webix_button{
    background:#1CA1C1;  
    color: #ffffff;
}

.color_button_test .webix_button:hover{
    background:#1CA1C1;  
    color: #ffffff;
}

.button_right .webix_button{
    background:#0bf00b;
}
.button_right .webix_button:hover{
    background:#0bf00b;
}

.button_lose .webix_button{
    background:#dd1c0a;
}
.button_lose .webix_button:hover{
    background:#dd1c0a;
}

